/* Container Principal */
.container-login {
    
    height: 100vh;
    font-family: Arial, sans-serif;
}

.img-box {
    width: 50%;
    height: 100%;
    background-color: #5bb4ff;
    padding: 20px;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.img-box-login img {
    width: 20%;
    height: 20%;
}

.content-box {
    
   
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box {
    width: 50%;
}

.content-box .form-box h2 {
    color: #32324f;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.content-box .form-box .input-box {
    margin-bottom: 20px;
}

.content-box .form-box .input-box input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}

.content-box .form-box .input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    
    color: #32324f;
    font-weight: 400;
}

.content-box .form-box .input-box input::placeholder {
    color: #a9adb6;
}

/* Ajuste para botões lado a lado */
.input-box-buttons {
    display: flex; /* Coloca os botões lado a lado */
    justify-content: space-between; /* Garante que eles fiquem separados */
    gap: 10px; /* Adiciona um espaçamento entre os botões */
  }
  
  .input-box-buttons input[type="submit"] {
    flex: 1; /* Garante que os botões tenham tamanhos iguais */
    padding: 10px 20px;
    background: #4aa4ee;
    color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .input-box-buttons input[type="submit"]:hover {
    background: #3286ca;
  }
  

/* Links e lembrete */
.content-box .form-box .remember {
    margin-bottom: 20px;
    color: #32324f;
    font-weight: 400;
    font-size: 14px;
    
    justify-content: space-between;
}

.content-box .form-box .remember a {
    text-decoration: none;
    color: #4aa4ee;
}

.content-box .form-box .remember a:hover {
    color: #3286ca;
}

.content-box .form-box h3 {
    color: #607d8b;
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}

/* Ajustes responsivos */
@media (max-width: 868px) {
    .container-login .img-box {
        display: none;
    }

    .container-login .content-box {
        width: 100%;
    }

    .container-login .content-box .form-box {
        width: 100%;
        padding: 40px;
        background: white;
        margin: 50px;
    }
}

@media (max-width: 450px) {
    .container-login .content-box .form-box .remember {
        flex-wrap: wrap;
    }

    .container-login .content-box .form-box .remember a {
        margin-top: 20px;
    }
}
